// ________________________________Variables________________________________
$orange: #f3973a;
$white: #fff;
$gray: #F2F2F2;

// ________________________________Menu________________________________
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  color: $orange;
  margin-bottom: 3%;
  justify-content: space-around;
}
.container {
  margin-bottom: 3%;
}
.card{
  transition: .5s;
}
.card:hover {
  transform: scale(1.02);
}
